ul.category-list(class=bclass?bclass:'')
  li.category-list__item.no-flickr(class=biclass?biclass:'')
    a(href=power data-name=power_name).category-list__link 
      span Inpool<br> power
  li.category-list__item.no-flickr(class=biclass?biclass:'')
    a(href=energy data-name=energy_name).category-list__link
      span Inpool<br> energy
  li.category-list__item.no-flickr(class=biclass?biclass:'')
    a(href=family data-name=family_name).category-list__link
      span Inpool<br> family
  li.category-list__item.no-flickr(class=biclass?biclass:'')
    a(href=balance data-name=balance_name).category-list__link
      span Inpool<br> balance

-var bclass = '';
-var biclass = '';