.helper
  button.helper__trigger(aria-label='helper-toggle')
    svg.icon(stroke='none', fill='currentColor' viewBox='0 0 12 20')
      path(d='M2.18 19.05L.77 17.64 8.4 10 .77 2.36 2.18.95 11.23 10l-9.05 9.05z')
  .helper__container
    //section
    .helper__section
      span.helper__section-title Всплывающие окна:
      .helper__section-content
        a(href='#succes' data-popup='open').helper__section-button Успешная отправка формы
        a(href='#asm-info' data-popup='open').helper__section-button Текстовое окно
        a(href='#form-popup' data-popup='open').helper__section-button Всплывающая форма
    //section
    .helper__section
      span.helper__section-title Страницы:
      .helper__section-content
        a(href=home).helper__section-button Главная
        a(href=power).helper__section-button Inpool power
        a(href=energy).helper__section-button Inpool energy
        a(href=family).helper__section-button Inpool family
        a(href=balance).helper__section-button Inpool balance
        a(href=equipment).helper__section-button Оборудование
        a(href=technology).helper__section-button Технологии
        a(href=portfolio).helper__section-button.disabled Портфолио
        a(href=contacts).helper__section-button Контакты

        
        a(href="components.html").helper__section-button Компоненты
        a(href="grid.html").helper__section-button Сетка
    