nav.nav
  .nav__bg
  .nav__container
    .nav__block
      .nav__content
        ul.nav__list
          li.nav__item.nav__animate.no-flickr
            a(href=portfolio data-namespace=portfolio_namespace).nav__link 
              span Наши работы
          li.nav__item.nav__animate.no-flickr
            a(href=equipment data-namespace=equipment_namespace).nav__link 
              span Дополнительное оборудование
          li.nav__item.nav__animate.no-flickr
            a(href=technology data-namespace=technology_namespace).nav__link 
              span Технологии
          li.nav__item.nav__animate.no-flickr
            a(href=contacts data-namespace=contacts_namespace).nav__link 
              span Контакты

        .nav__content-bottom
          ul.socials.nav__socials
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                | Вконтакте
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#vkontakte')
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                | Инстаграм
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#instagram')
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                | Одноклассники
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#odnoklassniki')
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                | Фейсбук
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#facebook')
          
          .nav__slogan.nav__animate.no-flickr INPOOL CONCEPT - это совокупность лучших 
      
      ul.category-list
        li.category-list__item.nav__animate.no-flickr
          a(href=power data-namespace=power_namespace).category-list__link
            span Inpool<br> power
        li.category-list__item.nav__animate.no-flickr
          a(href=energy data-namespace=energy_namespace).category-list__link
            span Inpool<br> energy
        li.category-list__item.nav__animate.no-flickr
          a(href=family data-namespace=family_namespace).category-list__link
            span Inpool<br> family
        li.category-list__item.nav__animate.no-flickr
          a(href=balance data-namespace=balance_namespace).category-list__link
            span Inpool<br> balance