nav.nav
  .nav__bg
  .nav__container
    .nav__block
      .nav__content
        ul.nav__list
          li.nav__item.nav__animate.no-flickr
            a(href="#").nav__link 
              span Об INPOOL Concept
          li.nav__item.nav__animate.no-flickr
            a(href="#").nav__link 
              span Дополнительное оборудование
          li.nav__item.nav__animate.no-flickr
            a(href="#").nav__link 
              span Сервис
          li.nav__item.nav__animate.no-flickr
            a(href=contacts).nav__link 
              span Контакты

        .nav__content-bottom
          ul.socials.nav__socials
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#vkontakte')
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#instagram')
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#odnoklassniki')
            li.socials__item.nav__animate.no-flickr
              a(href="#").socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#facebook')
            

          .nav__slogan.nav__animate.no-flickr INPOOL CONCEPT - это совокупность лучших 
      
      ul.category-list
        li.category-list__item.nav__animate.no-flickr
          a(href=power).category-list__link
            span Inpool<br> power
        li.category-list__item.nav__animate.no-flickr
          a(href=energy).category-list__link
            span Inpool<br> energy
        li.category-list__item.nav__animate.no-flickr
          a(href=power).category-list__link
            span Inpool<br> family
        li.category-list__item.nav__animate.no-flickr
          a(href=power).category-list__link
            span Inpool<br> balance